.card { 
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
  }

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.cardHeading {
  font-size: 24px;
  margin-bottom: 10px;
}

.cardText {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}
.PriceButton {
  background-color: #118c0b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cardBrand{
  text-align:center!important ;
  margin: 2%;
}