.container {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
  }
  
  .heading {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .label {
    font-size: 18px;
    color: #ffffff;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #777777;
    color: #ffffff;
    border: none;
  }
  
  .input::placeholder,
  .textarea::placeholder {
    color: #cccccc;
  }
  
  .button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .form {
      max-width: 500px;
      margin: 0 auto;
    }
  }
  