.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.text {
  font-size: 120%;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.image {
  margin: 0 15%;
}

.textContainer {
  text-align: justify;
  margin-bottom: 30px;
}

.justifiedText {
  margin: 5%;
  font-size: 16px;
  line-height: 1.5;
}
